*{
  margin: 0px;
  padding: 0px;
}

.headerApp{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: whitesmoke;
  border: 0px;
  
}

.headerApp div{
  height:50px;
  width:50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}


.divMain{
  width: 100%;
  background-color: #adf85d;
  padding-top: 100px;
  height: 699px;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;  
}

body main  .Link div{
  height: 300px;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Link{
  width: 20%;
  margin: 40px;
}